//コンポーネントとついになる形のCSSファイル
//.module.scssという名称でファイル名をつけなければならないので注意

.container {
  border: solid 1px #aaa;
  border-radius: 20px;
  padding: 8px;
  margin: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin: 0;
  color:  #aaa;  
}

// &:hoverとはボタンにマウスを合わせた時ボタンの色が変化する
.button {
  background-color:  #ddd;
  border: none;
  padding: 8px;
  border-radius: 8px;
  &:hover {
    background-color: #aaa;
    color: #fff;
    cursor: pointer;
  }
}